dec.yuv
rec.yuv
str.bin
/build/
/bin/
/lib/
core
deploy
/install/
*.sdf
*.suo
.vs/
.vscode/
/CMakeSettings.json
/out/
.project
.cproject
.vcxproj
.filters
/source/APP
.cmake
/source/Lib/vvenc/CMakeFiles/
/source/App/vvencFFapp/CMakeFiles/
/test/
/vvenc/
/CMakeFiles/
.pc

